#requirements.txt
streamlit==1.11.0
-r https://raw.githubusercontent.com/snowflakedb/snowflake-connector-python/main/tested_requirements/requirements_39.reqs
snowflake-connector-python==2.7.9
#snowflake-connector-python
#cffi==1.15.0
